/*=======================================
   Settings. Задаем переменные.
======================================= */

/* Font-size */

/* Font-weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* Colors */


/* Colors font*/



/* Typograthy */
$font-family-text: "Helvetica", sans-serif; /* Шрифт остального текста */
